.header{
    background-image: url('../images/home1.JPG');
    background-size: 100%;
    background-position: center;
}
.center-text{
    text-align: center;
}
.logo{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.fillHeader{
    background: rgba(36, 21, 1, 0.671);
    padding-bottom: 1%;
    z-index: 1;
    margin: 0 auto;
}
.image-alignment{
    margin: 0 auto;
}
.text{
    color: white;
    text-align: center;
}
.bg-opacity{
    background-color: rgb(41, 24, 0);
    height: 70px;
    font-size: 12pt;
    border-top: solid 8px rgb(88, 58, 0);
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 70px;
  }
  .off-screen{
      position: fixed;
      top : -100px;
  }

  .fade-effect{
    background-color: black;
    -webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fade;
    animation-duration: 1s;
}
.fade-effect-out{
    background-color: black;
    -webkit-animation-name: fadeOut; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeOut;
    animation-duration: 1s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
         
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeOut {
    from {opacity: 0;}
    to {opacity: 1;}
}